@model AnonymousStudentReviews.Api.Features.Registration.RegistrationRequest

@section HeadScripts
{
    <link rel="stylesheet" href="~/css/styles-output.css">
}

<div id="app">
    <div
        class="min-h-screen flex flex-col bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200">

        <main class="flex-grow flex flex-col items-center justify-center px-4 py-16">
            <div
                class="w-full max-w-md rounded-2xl bg-gray-100 dark:bg-gray-800 p-8 shadow-xl transition-colors duration-200">

                <h1 class="text-2xl text-black font-normal text-center mb-6 transition">
                    Реєстрація
                </h1>

                <form asp-action="Index" asp-controller="Registration" method="post"
                      class="space-y-4" id="regForm">
                    @Html.AntiForgeryToken()
                    <div>
                        <label
                            asp-for="Email"
                            for="emailInput"
                            class="block mb-2 dark:text-gray-400"
                        >
                            Електронна пошта
                        </label>
                        <input
                            asp-for="Email"
                            id="emailInput"
                            type="email"
                            placeholder="email@example.com"
                            class="w-full px-5 py-2.5 pr-12 rounded-2xl transition-colors duration-200 focus:outline-none text-base shadow-sm
                                bg-gray-50 dark:bg-gray-800 border border-gray-400 hover:border-gray-400 dark:border-gray-600 focus:ring-1 focus:ring-blue-500"
                        />

                        <p id="emailError" class="hidden mt-2 text-sm text-red-700">
                            Введіть дійсну електронну пошту.
                        </p>
                        <span
                            asp-validation-for="Email"
                            class="mt-2 text-sm font-small text-gray-600 dark:text-gray-400 block">
                        </span>
                    </div>

                    <div>
                        <label
                            asp-for="Password"
                            for="passwordInput"
                            class="block mb-2 dark:text-gray-400"
                        >
                            Пароль
                        </label>
                        <input
                            asp-for="Password"
                            id="passwordInput"
                            type="password"
                            placeholder="Пароль"
                            class="w-full px-5 py-2.5 pr-12 rounded-2xl transition-colors duration-200 focus:outline-none text-base shadow-sm 
                                bg-gray-50 dark:bg-gray-800 border border-gray-400 hover:border-gray-400 dark:border-gray-600 focus:ring-1 focus:ring-blue-500"
                        />
                        <p id="passwordError" class="hidden mt-2 text-sm text-red-600"></p>
                        <span
                            asp-validation-for="Password"
                            class="mt-2 text-sm font-small text-gray-600 dark:text-gray-400 block">
                        </span>
                    </div>

                    <div>
                        <label
                            asp-for="ConfirmPassword"
                            for="confirmInput"
                            class="block mb-2 dark:text-gray-400">
                            Підтвердження пароля
                        </label>
                        <input
                            asp-for="ConfirmPassword"
                            id="confirmInput"
                            type="password"
                            placeholder="Пароль"
                            class="w-full px-5 py-2.5 pr-12 rounded-2xl transition-colors duration-200 focus:outline-none text-base shadow-sm 
                                bg-gray-50 dark:bg-gray-800 border border-gray-400 hover:border-gray-400 dark:border-gray-600 focus:ring-1 focus:ring-blue-500"
                        />

                        <span asp-validation-for="ConfirmPassword" class="mt-2 text-sm font-medium text-red-600 block">
                        </span>
                        <p id="confirmError" class="hidden mt-2 text-sm font-medium text-red-600 block">
                            Паролі не співпадають.
                        </p>
                    </div>

                    <div class="text-center text-gray-900 dark:text-white">
                        <button
                            type="submit"
                            class="w-full mt-4 mb-4 py-3 rounded-2xl bg-blue-500 hover:bg-blue-700 text-white transition"
                        >
                            Створити акаунт
                        </button>
                        <p>Вже маєте акаунт? </p>
                        <a asp-controller="Login" asp-action="Index"
                           class="text-blue-500 hover:underline">Увійти</a>
                    </div>

                </form>
            </div>
        </main>
    </div>
</div>

@section BodyScripts
{
    <script src="~/js/validationLogic.js" asp-append-version="true"></script>
}

