SSL_CERTIFICATE_PASSWORD=very_secure_password_eg_12345678
SSL_CERTIFICATE_FOLDER_ABSOLUTE_PATH=some_absolute_path_eg_/Users/cooluser/projects/backend/https/
SSL_CERTIFICATE_FILENAME=some_certificate_filename_eg_aspnetapp.pfx

EmailSecrets__EmailHashKey=512_bit_cryptographic_key_encoded_as_a_hexadecimal_128_character_string
EmailSecrets__EmailVerificationTokenHashKey=512_bit_cryptographic_key_encoded_as_a_hexadecimal_128_character_string

Resend__Key=your_resend_api_key

# specify as many clients as you need
OpenIddictApplicationSecrets__<YOUR_CLIENT_ID_EG_FRONTEND>=256_bit_cryptographic_key_encoded_as_a_hexadecimal_64_character_string
