# AWS
AwsSecretPath = /aws/reference/secretsmanager/some_secret_name

# --- SSL and Certificates ---
# Absolute path to the folder on your host machine for SSL certificates (mounted at /https)
SSL_CERTIFICATE_FOLDER_ABSOLUTE_PATH=/Users/cooluser/projects/backend/https/

# Absolute path to the folder on your host machine for OpenIddict cryptographic (.pfx) certificates
# This folder will be mounted inside the docker container at /encryption_certs
ENCRYPTION_CERTIFICATES_FOLDER_ABSOLUTE_PATH=/Users/cooluser/projects/backend/certs

# ONLY REQUIRED IN PRODUCTION: OpenIddict specific paths and passwords
# Pass the mapped container path (e.g. /encryption_certs/your_file.pfx)
OPENIDDICT_ENCRYPTION_CERTIFICATE_FILE_CONTAINER_PATH=/encryption_certs/encryption.pfx
OPENIDDICT_SIGNING_CERTIFICATE_FILE_CONTAINER_PATH=/encryption_certs/signing.pfx
OPENIDDICT_ENCRYPTION_CERTIFICATE_PASSWORD=your_encryption_pfx_password
OPENIDDICT_SIGNING_CERTIFICATE_PASSWORD=your_signing_pfx_password

# --- Security and Hashing ---
# Generate using: openssl rand -hex 64
EmailSecrets__EmailHashKey=512_bit_cryptographic_key_encoded_as_a_hexadecimal_128_character_string
EmailSecrets__EmailVerificationTokenHashKey=512_bit_cryptographic_key_encoded_as_a_hexadecimal_128_character_string

# --- External Services ---
# API key for Resend to send confirmation emails
Resend__Key=your_resend_api_key

# --- OpenIddict Application Secrets ---
# Specify confidential client secrets here.
# For any client defined in appsettings.json with "ClientType": "Confidential",
# you must provide a secret here matching the pattern OpenIddictApplicationSecrets__<ClientId>.
OpenIddictApplicationSecrets__frontend=256_bit_cryptographic_key_encoded_as_a_hexadecimal_64_character_string

# --- Databases ---
# Main application database
DatabaseConnections__MainDatabase__Host=localhost
DatabaseConnections__MainDatabase__Port=5432
DatabaseConnections__MainDatabase__Database=database
DatabaseConnections__MainDatabase__Username=username
DatabaseConnections__MainDatabase__Password=password

# Data protection keys database
DatabaseConnections__DataProtectionDatabase__Host=localhost
DatabaseConnections__DataProtectionDatabase__Port=5432
DatabaseConnections__DataProtectionDatabase__Database=dataprotectionkeysdb
DatabaseConnections__DataProtectionDatabase__Username=username
DatabaseConnections__DataProtectionDatabase__Password=password
