SSL_CERTIFICATE_FOLDER_ABSOLUTE_PATH=some_absolute_path_eg_/Users/cooluser/projects/backend/https/

# the path must start with /https/ and then you add your certificate file name (the one located in the certificate folder)
ASPNETCORE_Kestrel__Certificates__Default__Path=some_certificate_container_path_eg_/https/aspnetapp.pfx_or_/https/my_cert.crt

# leave this commented if you use a .pfx vault
# the path must start with /https/ and then you add your certificate key file name (the one located in the certificate folder)
ASPNETCORE_Kestrel__Certificates__Default__KeyPath=some_certificate_key_container_path_eg_/https/my_cert.key

# leave this commented if you use .cert and .key certificate files
# ASPNETCORE_Kestrel__Certificates__Default__Password=very_secure_password_eg_12345678

EmailSecrets__EmailHashKey=512_bit_cryptographic_key_encoded_as_a_hexadecimal_128_character_string
EmailSecrets__EmailVerificationTokenHashKey=512_bit_cryptographic_key_encoded_as_a_hexadecimal_128_character_string

Resend__Key=your_resend_api_key

# specify as many clients as you need
OpenIddictApplicationSecrets__<YOUR_CLIENT_ID_EG_FRONTEND>=256_bit_cryptographic_key_encoded_as_a_hexadecimal_64_character_string
