<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Studentus</title>
    @RenderSection("HeadScripts", false)
</head>
<body class="bg-white dark:bg-gray-900">

<partial name="_Header"/>

@RenderBody()

<partial name="_Footer"/>

@RenderSection("BodyScripts", false)
</body>
</html>