@section HeadScripts
{
    <link rel="stylesheet" href="~/css/styles-output.css">
}

<div
    class="bg-white min-h-screen w-full flex items-center justify-center p-4"
>
    <div
        class="bg-gray-50 w-full max-w-xl p-10 md:p-16 rounded-[40px] shadow-lg text-center flex flex-col items-center border border-gray-100/50"
    >
        <div class="mb-8">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.5 1.25C17.1967 1.25 21.75 5.72199 21.75 11.1592C21.7497 16.5961 17.1965 21.0674 11.5 21.0674C5.80348 21.0674 1.25027 16.5961 1.25 11.1592C1.25 5.72199 5.80331 1.25 11.5 1.25Z"
                    fill="#F7F7F7" stroke="#3B9742" stroke-width="2.5"/>
                <path d="M7 11.0007L9.79868 14.1581" stroke="#3B9742" stroke-width="2" stroke-linecap="round"/>
                <path d="M17.3408 7L10.3052 14.5" stroke="#3B9742" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </div>

        <h1
            class="text-2xl md:text-3xl font-normal text-gray-900 mb-4 tracking-tight"
        >
            Пошту успішно підтверджено
        </h1>

        <p
            class="text-gray-500 text-base md:text-lg leading-relaxed mb-10 max-w-110 mx-auto"
        >
            Ваш акаунт активовано. Тепер ви можете увійти та користуватися всіма
            можливостями платформи.
        </p>

        <a
            asp-controller="Login" asp-action="Index" asp-route-return-url="@ViewData["ReturnUrl"]"
            class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-4 px-12 rounded-3xl transition-all duration-200 shadow-md active:scale-95"
        >
            Увійти в акаунт
        </a>
    </div>
</div>